


body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    padding: 20px;
}

.caixa-principal {
    background-color: white;
    width: 500px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1); 
}


img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    border: 2px solid #007bff;
}


h1 {
    color: #333;
    margin-bottom: 5px;
}

h3 {
    color: #007bff; 
    background-color: #e7f3ff;
    padding: 5px;
}


ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}
